.corpo {
    overflow-y: scroll;
}

h1 {
    text-align: center;
    margin: 2.5rem auto;
    width: 70%;
}

h2 {
    text-align: left;
    margin: 1.5rem auto;
    width: 70%;
}

.corpo>p, ul {
    text-align: left;
    margin: 1rem auto;
    line-height: 1.5em;
    width: 70%;
    font-size: 18px;
    color: darkslategrey;
}