.corpo {
    overflow: auto;
}

input[type="submit"] {
    background-color: darkcyan;
    color: white;
    padding: 14px 20px;
    width: 50%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 1em; /* Bordi stondati */
    border: 3px solid lightgrey; /* Bordo grigio */
    margin: 1rem;
    cursor: pointer;
}

input.invalid {
    background-color: rgb(252, 230, 218);
    border: 3px solid brown;
}

input, select {
    display: inline;
    margin: 0.5rem auto;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 30%;
    border: 3px solid lightgrey;
    border-radius: 1em;
    background-color: rgb(162, 218, 215, 0.8);
}

p#errore-login, a#recupera {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
}

.username, .password, .mail, .domanda, .risposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
}