* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media screen and (max-width: 812px) {
    header {
        padding: 1rem;
    }

    .b-menu{
        min-width: 75px;
        max-height: 50px;
        font-size: 10px;
    }

    button.navigazione {
        max-width: 16rem;
    }

    img.logo{
        left: -1rem;
    }
}

@media screen and (min-width: 812px) {
    header {
        padding: 2rem;
    }

    .b-menu{
        min-width: 125px;
        max-height: 50px;
        font-size: 15px;
        font-weight: bold;
    }

    button.navigazione {
        max-width: 22rem;
    }

    img.logo{
        left: -2rem;
    }
}

.corpo {
    margin-top: 120px;
    margin-bottom: 75px;
    padding: 1rem;
    box-sizing: border-box;
    height: 75vh; /* Altezza del corpo rispetto al viewport */
}

header {
    display: flex;
    position: fixed;
    top: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    width: 98%;
    margin: 0 auto;
    height: 100px;
    border: 3px solid darkgrey;
    border-radius: 1em;
    box-sizing: border-box;
    z-index: 1;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

h1{
    text-align: center;
    font-size: 25px;
    color: #000000;
}

button{
    background-color: darkcyan;
    color: white;
    padding: 14px 20px;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    border-radius: 1em;
    border: 3px solid lightgrey;
    margin: 1rem;
}

button:disabled{
    cursor: default;
}

button:hover{
    opacity: 0.8 !important;
}

button.navigazione {
    height: 4rem;
}

footer{
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 1em;
    position: fixed;
    background-color: lightgrey;
}

footer>p{
    text-align: center;
    margin: 0 auto;
}


img.utente{
    height: 50px;
    border-radius: 50%;
    margin: 1rem;
    cursor: pointer;
}

.popup {
    position: fixed;
    right: 4rem;
    top: 6rem;
    background-color: white;
    border: 3px solid darkgrey;
    padding: 1rem;
    z-index: 1;
}

.popup>p {
    text-align: left;
    margin: 1rem auto;
    line-height: 1.5em;
    width: 100%;
    font-size: 16px;
    color: darkslategrey;
}

#p-esci {
    position: absolute;
    top: -0.5em;
    right: 0.5em;
    text-align: right;
    cursor: pointer;
}

#p-username {
    font-weight: bold;
    font-size: 18px;
}

div{
    position: relative;
    text-align: center;
    border-radius: 1em; /* Bordi stondati */
}

img.logo{
    display: block;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 1em;
    object-fit: cover;
}

#menu{
    display: flex;
    flex-direction: row;
    max-width: 70%;
    float: right;
}